body {
    height: 100%;
    width: 100%
}

.questiontitle {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
} 

.questionbody {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 17px;
}

#start {
    margin-left: 220px;
    /* width makes button wider
    width: 100%; */
}

/* main conatiner */

.container {
    padding: 50px;
    max-width: 600px;
    margin: 200px auto;
    border: 10px;
    border-style: solid;
    border-color: tomato;
    border-radius: 25px;
}

.quizbox {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
    position: relative; 
}

.none {
    display: none;  
}